<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ECHO | Formulaire tirage</title>
        <link rel="icon" href="static/images/ico.png">
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/responsive.css">
    </head>
    <body class="darker">
        <!-- Preloader -->
        <div id="preloader">
            <div class="preload-content">
                <div id="loader-load"></div>
            </div>
        </div>
        {% block content %}{% endblock %}
        {% include('footer.jinja') %}
        {% include('scripts.jinja') %}
    </body>
</html>